{% extends 'template_base.html' %}

{% block Titre %} Statistiques selon le diplôme {% endblock %}
{% load static %}


{% block contenu %}


    <h1>Pourcentage de RNA en fonction du diplôme préparé (UEVE ou Saclay) en 2022
        <div style="display: flex; align-items: center;">
        
          
            <figure style="margin-right: 20px;">
                <img src="{% static 'hist_diplome.png' %}" alt="Description de l'image" class="image-hover">
                <!-- <figcaption style="font-weight: bold;">Pourcentage de Redoublant-Admis de 2012 à 2022</figcaption> -->
            </figure>
    </h1>
    <h1>Evolution du pourcentage de RNA en fonction du diplôme préparé (UEVE ou Saclay)
        <div style="display: flex; align-items: center;">
        
          
            <figure style="margin-right: 20px;">
                <img src="{% static 'courbe_diplome.png' %}" alt="Description de l'image" class="image-hover">
                <!-- <figcaption style="font-weight: bold;">Pourcentage de Redoublant-Admis de 2012 à 2022</figcaption> -->
            </figure>
    </h1>

{% endblock %}
            